<div class="modal-body">
            <h2><%= @listing.title %> || Start Time: <%= @listing.time %> on the <%= @listing.date %></h2>
            <h5>Venue Name: <%= @listing.venue_name %> || Number of seats <%= @listing.seats %></h5>
            <h5>Address: <%= @listing.location %></h5>
            <h5>Ticket Price (£):<%= @listing.price %></h5>
            <h5>Venue info:<%= @listing.other_info %></h5>
        
        
      <h4 class="text-center">This Venue Has the Following Equipment</h4>
      <hr>
            <div class="row">
              <div class="col-sm-4">Toilets: <%= @listing.toilets %></div>
              <div class="col-sm-4">Fire: <%= @listing.fire %></div>
              <div class="col-sm-4">Projector: <%= @listing.projector %></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Internet: <%= @listing.internet %></div>
              <div class="col-sm-4">Camcorder: <%= @listing.camcorder %></div>
              <div class="col-sm-4">Laptops: <%= @listing.laptops %></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Lighting: <%= @listing.lighting %></div>
              <div class="col-sm-4">Camcorder: <%= @listing.camcorder %></div>
              <div class="col-sm-4">Catering: <%= @listing.catering %></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Seating: <%= @listing.seating %></div>
              <div class="col-sm-4">Blinds: <%= @listing.blinds %></div>
            </div>
            
</div>

      

  


