<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="center">Current Open Cinema Movies</h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="dataTable_wrapper">
            <table class="table table-striped" id="dataTables-example">
                <thead>
                    <tr>
                        <th class="center"><h4>Movie</h4></th>
                        <th class="center"><h4>Date</h4></th>
                        <th class="center"><h4>Time</h4></th>
                        <th class="center"><h4>Location</h4></th>
                        <th class="center"><h4>Price (£)</h4></th>
                        <th class="center"><h4>Action</h4></th>
                    </tr>
                </thead>

    <% @listings.each do |listing| %>
      <tr>
        <td><p><%= listing.title %></p></td>
        <td><p><%= listing.date %></p></td>
        <td class="center"><p><%= listing.time %></p></td>
        <td class="center"><p><%= listing.location %></p></td>
        <td class="center"><p><%= listing.price %></p></td>
        
        <td>
          <%= link_to 'Buy Tickets Now', "/", class: "btn btn-success" %>
          <%= link_to 'View More Info', listing_path(listing), remote: true, id: 'showButton', class: 'btn btn-primary' %>
        </td>
        
      </tr>
    <% end %>
</table>

    <div class="panel-heading">
        <h3 class="center"><%= link_to 'Back', "/", class: "btn btn-lg btn-success" %></h3>
    </div>

<br>

<div id="modal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Movie Information</h4>
               <hr>
          </div>
          <div class="modal-body" id="modelContent">
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success">Buy Tickets Now</button>
          </div>
        </div>
      </div>
    </div>


    
