<div class="jumbotron1">

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">

      <!--      Wizard container        -->   
      <div class="wizard-container"> 
        <%= simple_form_for(@listing, url: new_user_registration_path, method: :get) do |f| %>

          <div class="card wizard-card ct-wizard-orange" id="wizard">
            <!--        You can switch "ct-wizard-orange"  with one of the next bright colors: "ct-wizard-blue", "ct-wizard-green", "ct-wizard-orange", "ct-wizard-red"             -->

            <div class="wizard-header">
              <h3>
                <b>LIST</b> YOUR MOVIE <br>
                <small>This information will let us know more about your movie</small>
              </h3>
            </div>

            <ul>
              <li><a href="#about" data-toggle="tab">Movie Information</a></li>
              <li><a href="#account" data-toggle="tab">Location</a></li>
              <li><a href="#address" data-toggle="tab">Equipment</a></li>
            </ul>
          
            <div class="tab-content">

              <!-- panel 1 -->
              <div class="tab-pane" id="about">
                <div class="row">
                  <div class="col-sm-12">
                    <h4 class="info-text">Let's start with the basic information</h4>
                  </div>
                </div>          
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                    <%= f.input :title, placeholder: "E.g. Top Gun", input_html: {class: "form-control"} %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                    <%= f.input :time, placeholder: "E.g. 2.30pm", input_html: {class: "form-control"} %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                    <%= f.input :date, placeholder: "E.g. 19/03/2015", input_html: {class: "form-control"} %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                    <%= f.input :seats, placeholder: "E.g. 5,10,15,20", input_html: {class: "form-control"} %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                    <%= f.input :venue_name, placeholder: "Give your venue a name", input_html: {class: "form-control"} %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                    <%= f.input :price, placeholder: "£", input_html: {class: "form-control"} %>
                  </div>
                </div>
              </div>

              <!-- panel 2 -->
              <div class="tab-pane" id="account">
                <div class="row">
                  <div class="col-sm-12">
                    <h4 class="info-text"> Give Us Some Information About Your Movie </h4>
                  </div>
                </div>          
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                    <%= f.input :location, placeholder: "Full Address including postcode", input_html: {class: "form-control"} %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                    <%= f.input :other_info, placeholder: "Any other information about the venue", input_html: {class: "form-control"} %>
                  </div>
                </div>
              </div>

              <!-- panel 3 -->
              <div class="tab-pane" id="address">
                <div class="row">
                  <div class="col-sm-12">
                    <h4 class="info-text"> Do You Have the Following Equipment </h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3 col-sm-offset-1">
                    <%= f.input :projector, required: false %>
                  </div>
                  <div class="col-sm-4">
                    <%= f.input :cables, required: false  %>
                  </div>
                  <div class="col-sm-4">
                    <%= f.input :laptops, required: false  %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3 col-sm-offset-1">
                    <%= f.input :seating, required: false  %>
                  </div>
                  <div class="col-sm-4">
                    <%= f.input :blinds, required: false %>
                  </div>
                  <div class="col-sm-4">
                    <%= f.input :blinds, required: false %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3 col-sm-offset-1">
                    <%= f.input :lighting, required: false %>
                  </div>
                  <div class="col-sm-4">
                    <%= f.input :camcorder, required: false %>
                  </div>
                  <div class="col-sm-4">
                    <%= f.input :catering, required: false %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3 col-sm-offset-1">
                    <%= f.input :toilets, required: false %>
                  </div>
                  <div class="col-sm-4">
                    <%= f.input :fire, required: false %>
                  </div>
                  <div class="col-sm-4">
                    <%= f.input :internet, required: false %>
                  </div>
                </div>


              </div>
            </div>
            <div class="wizard-footer">
              <div class="pull-right">
                <input type='button' class='btn btn-next btn-fill btn-warning btn-wd btn-sm' name='next' value='Next' />
                <%= f.button :submit, class: "btn btn-finish btn-fill btn-warning btn-wd btn-sm" %>
              </div>
              <div class="pull-left">
                <input type='button' class='btn btn-previous btn-fill btn-default btn-wd btn-sm' name='previous' value='Previous' />
              </div>
              <div class="clearfix"></div>
            </div>  
          </div>
        <% end %>
      </div> <!-- wizard container -->
    </div>
  </div><!-- end row -->
</div>
</div>
